!!!
%html
  %head
    %title Studylists
    = stylesheet_link_tag "scaffold.css", "application.css"
    = javascript_include_tag "http://code.jquery.com/jquery-1.4.3.min.js"
    = javascript_include_tag "application.js"
    = csrf_meta_tag
  %body
    = yield
